<div class="row justify-content-center align-items-center">
    <div class="col-md-4">

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="d-flex flex-column justify-content-center" style="min-height:84vh;">
          <h3 class="text-center">Login</h3>  
          <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" name="email"
              aria-describedby="emailHelp"
              formControlName="email"
              [ngClass]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched ? ['border','border-danger'].join(' ') : null">
             <div class="form-errors">
                <span class="form-text text-danger" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')">
                 Email Required
                </span>
                <span class="form-text text-danger" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email')">
                  Invalid Email
                 </span>
             </div>
            
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="password"
              formControlName="password"
              [ngClass]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched ? ['border','border-danger'].join(' ') : null"
              >
              <div class="form-errors">
                <span class="form-text text-danger" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
                 Password Required
                </span>
             </div>
            </div>
          <a class="float-md-right form-text" routerLink="/register">Create Account</a>
            <button type="submit" class="btn btn-primary float-right">Login</button>
          </form>
    </div>
</div>