<div class="card" style="width: 18rem;">
    <img [src]="'assets/no-preview.jpg'" class="card-img-top" alt="...">
    <div class="card-body" *ngIf="movie">
      <h5 class="card-title">{{movie.name | titlecase}}</h5>
      <p class="card-text">Genre : {{movie.genre.name | titlecase}}</p>
      <p class="card-text">Language : {{movie.language | titlecase}}</p>
      <p class="card-text">Synopsis : {{movie.description}}</p>
      <button class="btn btn-primary" (click)="bookTicket()" *ngIf="showBookingBtn">Book Tickets</button>
    </div>
  </div>